*.swp
.env
*/certs/*
*/data/*
.DS_Store
data/staging/
data/logs/
data/archive/
data/generated_metadata/
data/labcas-data/labcas-backend/generated_metadata/

airflow/logs/
labcas-proxy/cacerts/
labcas-proxy/certs/
airflow/dags/__pycache__/
# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files and log directories
*.log
airflow/logs/
.ldap_logs_pid
.serena/
metadata/
publish/solr.py.orig
