*.swp
.env
*/certs/*
*/data/*
.DS_Store
data/*

airflow/logs/
airflow/dags/__pycache__/
# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files and log directories
*.log
airflow/logs/
.env
